.chart-dragon {
  margin: 0;
  background-size: cover;
  .container {
    margin: auto;
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  img{
    display: flex;
    justify-content: center;
    max-width: 1260px;
    margin: 0 auto;
  }
  .chart-textarea {
    max-width: 600px;
    text-align: center;
    margin: 50px auto 0;
    h1 {
      margin-bottom: 50px;
      font-size: 1.6rem;
      font-weight: bold;
    }
    p {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 1.8;
    }
    @include xls {
      max-width: 400px;
    }
    @include lg {
      margin: 80px auto 0;
    }
    @include md {
    }
  }
}
