.chart-dragon {
  background-image: url(/img/tokenomic/tokenomic_background.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  margin: 0;
  background-size: cover;
  .container {
    margin: auto;
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .chart-img{
    margin: 0 auto;
    width: 50%;
    @include md {
      width: 70%;
    }
    @include sm {
      width: 65%;
    }
    img{
      padding: 3rem 0;
      display: flex;
      justify-content: center;  
      margin: 0 auto;
    }
  }
  .chart-textarea {
    max-width: 600px;
    text-align: center;
    margin: 50px auto 0;
    h1 {
      margin-bottom: 50px;
      font-size: 1.6rem;
      font-weight: bold;
    }
    p {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 1.8;
    }
    @include xls {
      max-width: 400px;
    }
    @include lg {
      margin: 80px auto 0;
    }
    @include md {
    }
  }
}

.partner-advisor {
  margin: 0;
  background-size: cover;
  .container {
    margin: auto;
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .partner-img, .advisor-img{
    background: black;
    img{
      display: flex;
      justify-content: center;  
      margin: 0 auto;
    }
  }
}