@font-face {
  font-family: RobotoSlab;
  src: url(/fonts/RobotoSlab-Regular.ttf);
}

* {
  box-sizing: border-box;
}
body {
  font-family: RobotoSlab;
  line-height: inherit;
}
//* Custom

.bg-color-primary {
  background-color: var(--color-blue-3);
}
.btn-blue {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--bg-color);
  border: 2px solid var(--bg-color);
  background: var(--button-blue-color);
  @include sm {
    font-size: 7px;
  }
}

.btn-orange {
  font-size: 16px;
  font-weight: 700;
  @include sm {
    padding: 10px;
  }
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--bg-color);
  border: 2px solid var(--bg-color);
  background: var(--button-orange-color);
}

.bg-tournament {
  background-image: url(/img/dragon-legend-2.png);
}
.bg-amry {
  background-image: url(/img/dragon-legend-1.png);
}
.bg-dragonwars {
  background-image: url(/img/slide-home-bottom1.png);
  background-size: cover;
}
.bg-blur-black {
  background: var(--blur-bg-black);
}
.home-card-dragon {
  height: 550px !important;
  border: 8px solid var(--color-blue-2);
}

//* Header Layout

.header-layout {
  height: 80px;
  line-height: 1;
  max-height: 80px;
  background-color: var(--color-primary);
  .header-layout-inner {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    .logo {
      @include md {
        width: 126px;
      }
      @include sm {
        width: 126px;
      }
      width: 200px;
      height: 80px;
      position: relative;
      img {
        position: absolute;
        top: 10%;
        @include md {
          top: 0;
        }
        @include sm {
          top: -10px;
        }
        z-index: 200;
        width: 100%;
        @include mds {
          top: 0;
          left: 10px;
          z-index: 200;
        }
      }
    }
    .header-layout__menu {
      @include lg {
        display: none;
      }
      @include md {
        display: none;
      }
      @include sm {
        display: none;
      }
      border: none;
      background: none;
      display: flex;
      height: 80px;
      align-items: center;
      .ant-menu-item-selected {
        background: none;
      }
      li:hover {
        background: fixed;
      }
      li {
        padding-right: 30px;
        display: flex;
        font-size: 18px;
        font-weight: bold;
        color: var(--bg-color);
        align-items: center;
      }
    }
    .header-layout__menu_mobile {
      background-color: var(--color-primary);
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: auto;
      li {
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
        font-size: 18px;
        color: var(--bg-color);
        align-items: center;
      }
      .ant-menu-item-selected {
        background-color: var(--color-blue-2);
      }
      li:hover {
        background-color: var(--color-blue-2);
      }
    }
    .header-layout__button {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .sb-btn {
        @include sm {
          margin-right: 0;
        }
        margin-right: 30px;
      }
      .header-layout__button_hamburger {
        cursor: pointer;
        display: none;
        @include lg {
          display: block;
        }
      }
    }
  }
}
.menu-mobile {
  background-color: var(--color-primary);
  max-width: 520px;
  position: fixed !important;
  top: 0;
  z-index: 9999 !important;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}
footer {
  background: var(--color-blue-1);
  color: white;
}

//* Item
.card-item {
  padding: 0.625rem;
  border-radius: 0.5rem;
  width: 100%;
  background-color: var(--color-blue-1);
  border: 2px solid var(--color-blue-2);
  color: var(--bg-color);
  margin: 0.5rem;

  .span-common {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 10px;
    background: var(--color-blue-2);
  }
}
