.dragon_token {
  background-image: url(/img/gameplay/gameplay_background.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: black;
  height: 1080px;
  min-height: 1080px;
  &__video {
    padding: 10rem 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    @include md { 
      padding-bottom: 10rem;
    }
    @include sm {
      flex-direction: column;
      padding-bottom: 0;
    }
    &__frame {
      display: flex;
      align-items: center;
    }
  }
  .dragon_token__video__frame{
    .dragon_token__video__frame_video{
      z-index: 1;
      border:20px solid transparent;
      border-image-source: url(/img/gameplay/gameplay_frame_video.png);
      border-image-slice: 30;
    }
  }
  .dragon_token__video__frame, .dragon_token__video__note{
    position: relative;
    padding: 30px;
  }
}
