.footer {
  max-width: 1920px;
  margin: 0 auto;
  background-image: url(/img/footer/footer_background.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  &__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
  }
  &__logo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10rem;
    @include md {
      margin-top: -7rem;
    }
    @include sm {
      margin-top: -5rem;
    }
    &_img {
      z-index: 1;
      img{
        width: 70%;
        margin: 0 auto;
      }
      @include md {
        width: 50%;
      }
      @include sm {
        width: 60%;
        z-index: 0;
      }
    }
  }
  &__social_list,
  &__download_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &_item {
      padding: 2rem;
      @include sm {
        padding: 10px;
      }
    }
  }
  &__copyright {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: wheat;
    @include sm{
      font-size: 12px;
    }
  }
  &__social_list{
    margin-bottom: 5rem;
  }
  &__download_list{
    margin-bottom: 10rem;
  }
}
