.home-page {
  position: relative;
  background-image: url(/img/bg-home-main.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
@keyframes floating {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.crystal {
  position: absolute;
  -webkit-animation: floating 5s ease-in-out infinite;
  animation: floating 5s ease-in-out infinite;
  &__img {
    @include md {
      max-width: 125px;
    }
  }
  .purple-crystal {
    @include lg {
      padding-top: 120px !important;
    }
    @include md {
      padding-top: 200px !important;
    }
    @include mds {
      padding-top: 280px !important;
    }
  }
  .blue-crystal {
    @include lg {
      width: 200px !important;
    }
  }
  .green-crystal {
    @include lg {
      width: 200px !important;
      padding-top: 220px !important;
    }
  }
  .orange-crystal {
    @include lg {
      width: 200px !important;
      padding-top: 0px !important;
    }
    @include mds {
      padding: 0 !important;
    }
  }
}
.banner {
  background-image: url(/img/bg-home-banner.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: calc(100vh - 80px);
  max-height: 700px;
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1280px;
    height: 100%;
    margin: auto;
    @include md {
      text-align: center;
    }
    .banner__label {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      color: var(--bg-color);
      max-width: 32rem;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      @include md {
        margin: 0 auto;
      }
      h3 {
        color: var(--bg-color);
        font-size: 3rem;
        text-align: left;
        font-weight: bold;
        line-height: 1.3;
        @include md {
          text-align: center;
          margin: 0 auto;
          font-size: 2.5rem;
        }
        @include sm {
          font-size: 2rem;
        }
      }
      p {
        color: var(--bg-color);
        line-height: 1.5;
        @include md {
          text-align: center;
          font-size: 16px;
        }
      }
    }
    .banner__label_btn {
      margin-top: 2.5rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      .gd-btn {
        @include md {
          width: 65%;
          margin-right: 0;
        }
        margin-right: 30px;
      }
      .clw-btn {
        @include md {
          margin-top: 1rem;
          width: 65%;
        }
      }
    }
  }
}

//

.tabs-layout {
  max-width: 1280px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  .ant-tabs-nav {
    .ant-tabs-nav-wrap {
      justify-content: center;
    }
  }
  .ant-tabs-nav:before {
    border: none;
  }
  .ant-tabs-tab-btn {
    color: white;
    font-size: 20px;
    font-weight: 700;
  }
  .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      color: white;
      font-size: 20px;
      font-weight: 700;
    }
    .ant-tabs-ink-bar {
      background: white;
    }
  }
  .tabs-layout-grid {
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

//
.slick-arrow {
  width: 45px !important;
  height: 45px !important;
  @include md {
    width: 40px !important;
    height: 40px !important;
  }
  @include sm {
    width: 35px !important;
    height: 35px !important;
  }
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.slick-prev:before,
.slick-next::before {
  font-size: 45px !important;
  @include md {
    font-size: 40px !important;
  }
  @include sm {
    font-size: 35px !important;
  }
}
.slick-prev {
  left: -45px !important;
  @include md {
    left: -5px !important;
  }
  @include sm {
    left: 0px !important;
  }
}
.slick-next {
  right: -45px !important;
  @include md {
    right: -5px !important;
  }
  @include sm {
    right: 0px !important;
  }
}
.slick-list {
  @include md {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
  @include sm {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
}
.card-reposive {
  margin: 0 0.5rem;
}
//*
.roadmap-common {
  .label-custom {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .ant-timeline-item {
    width: 1280px;
    margin: 0 auto;
    .ant-timeline-item-label {
      font-weight: bold;
      font-size: 30px;
    }
    .ant-timeline-item-head {
      width: 20px;
      height: 20px;
      margin-left: -8px;
      background: var(--color-blue-1);
      border-color: var(--color-blue-1);
    }
    .ant-timeline-item-content {
      h3 {
        line-height: 1;
      }
      h3,
      p {
        width: 50%;
      }
    }
  }
}

.position-left-20-lg {
  @include lg {
    position: absolute;
    left: 0% !important;
  }
}
.position-left-20-md {
  @include md {
    position: absolute;
    left: 0% !important;
  }
}
.position-left-20-xs {
  @include sm {
    position: absolute;
    left: 0% !important;
  }
}
