.our-team {
  background-image: url(/img/ourteam/ourteam_background.png);
  min-height: 955px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  &__list {
    width: 1285px;
    margin: 0 auto;
    @include md{
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr))  ;
    }
    @include sm{
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr))  ;
    }
    &__item {
      padding: 2rem;
      @include sm {
        display: flex;
        justify-content: center;
        width: 60%;
        padding: 1rem;
        margin: 0 auto;
        .our-team-img{
          @include sm{
            margin: 0 auto;
            width: 70%;
          }
          @include md{
            margin: 0 auto;
            width: 60%;  
          }
        }
      }
    }
  }
}
