.partners{
  background-image: url(/img/roadmap/roadmap_background.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 8rem;
  &__list {
    @include md{
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr))  ;
    }
    @include sm{
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr))  ;
    }
    margin: 0 auto;
    &__item {
      padding: 2rem;
      @include sm {
        display: flex;
        justify-content: center;
        width: 60%;
        padding: 1rem;
        margin: 0 auto;
        .partners-img{
          @include sm{
            margin: 0 auto;
            width: 70%;
          }
          @include md{
            margin: 0 auto;
            width: 60%;  
          }
        }
      }
    }
  }
}